USE [master]
GO
/****** Объект:  Database [PractikaBD]    Дата создания скрипта: 17.05.2026 22:25:25 ******/ 
CREATE DATABASE [PractikaBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PractikaBD', FILENAME = N'C:\Users\Sapter\PractikaBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PractikaBD_log', FILENAME = N'C:\Users\Sapter\PractikaBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PractikaBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PractikaBD]
GO
/****** Объект:  Table [dbo].[Countries]    Дата создания скрипта: 17.05.2026 22:25:26 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Country_id] [int] IDENTITY(1,1) NOT NULL,
	[Country_Name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Country_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Heroes]    Дата создания скрипта: 17.05.2026 22:25:26 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Heroes](
	[Hero_id] [int] IDENTITY(1,1) NOT NULL,
	[Hero_name] [varchar](50) NOT NULL,
	[Attack_type] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Hero_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Matches]    Дата создания скрипта: 17.05.2026 22:25:26 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matches](
	[Match_id] [uniqueidentifier] NOT NULL,
	[Match_date] [datetime] NULL,
	[Winner] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Match_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[MatchPlayers]    Дата создания скрипта: 17.05.2026 22:25:26 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatchPlayers](
	[Match_id] [uniqueidentifier] NULL,
	[player_id] [int] NOT NULL,
	[Hero_id] [int] NOT NULL,
	[Side] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[players]    Дата создания скрипта: 17.05.2026 22:25:26 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[players](
	[Player_id] [int] IDENTITY(1,1) NOT NULL,
	[Player_name] [varchar](50) NOT NULL,
	[MMR] [int] NULL,
	[DotaPlus] [bit] NULL,
	[country_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Player_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([Country_id], [Country_Name]) VALUES (1, N'Russia')
INSERT [dbo].[Countries] ([Country_id], [Country_Name]) VALUES (2, N'USA')
INSERT [dbo].[Countries] ([Country_id], [Country_Name]) VALUES (3, N'Germany')
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[Heroes] ON 

INSERT [dbo].[Heroes] ([Hero_id], [Hero_name], [Attack_type]) VALUES (1, N'Pudge', N'Melee')
INSERT [dbo].[Heroes] ([Hero_id], [Hero_name], [Attack_type]) VALUES (2, N'WindRanger', N'Ranged')
INSERT [dbo].[Heroes] ([Hero_id], [Hero_name], [Attack_type]) VALUES (3, N'Storm spirit', N'Ranged')
SET IDENTITY_INSERT [dbo].[Heroes] OFF
GO
INSERT [dbo].[Matches] ([Match_id], [Match_date], [Winner]) VALUES (N'1af21f85-1d52-f111-9780-c87f54548fe4', CAST(N'2026-05-17T21:23:37.617' AS DateTime), N'Radiant')
INSERT [dbo].[Matches] ([Match_id], [Match_date], [Winner]) VALUES (N'756906b6-1d52-f111-9780-c87f54548fe4', CAST(N'2026-05-16T21:24:59.657' AS DateTime), N'Radiant')
INSERT [dbo].[Matches] ([Match_id], [Match_date], [Winner]) VALUES (N'766906b6-1d52-f111-9780-c87f54548fe4', CAST(N'2026-05-16T21:25:07.250' AS DateTime), N'Dire')
GO
INSERT [dbo].[MatchPlayers] ([Match_id], [player_id], [Hero_id], [Side]) VALUES (N'1af21f85-1d52-f111-9780-c87f54548fe4', 1, 2, N'Dire')
INSERT [dbo].[MatchPlayers] ([Match_id], [player_id], [Hero_id], [Side]) VALUES (N'1af21f85-1d52-f111-9780-c87f54548fe4', 2, 1, N'Radiant')
INSERT [dbo].[MatchPlayers] ([Match_id], [player_id], [Hero_id], [Side]) VALUES (N'1af21f85-1d52-f111-9780-c87f54548fe4', 3, 3, N'Radiant')
GO
SET IDENTITY_INSERT [dbo].[players] ON 

INSERT [dbo].[players] ([Player_id], [Player_name], [MMR], [DotaPlus], [country_id]) VALUES (1, N'pudge', 500, 1, 1)
INSERT [dbo].[players] ([Player_id], [Player_name], [MMR], [DotaPlus], [country_id]) VALUES (2, N'asdfd', 1000, 1, 1)
INSERT [dbo].[players] ([Player_id], [Player_name], [MMR], [DotaPlus], [country_id]) VALUES (3, N'us1', 5000, 0, 2)
SET IDENTITY_INSERT [dbo].[players] OFF
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Heroes__B4AAD6ACDF1BB798]    Дата создания скрипта: 17.05.2026 22:25:26 ******/ 
ALTER TABLE [dbo].[Heroes] ADD UNIQUE NONCLUSTERED 
(
	[Hero_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Matches] ADD  CONSTRAINT [DF_Matches_Match_id]  DEFAULT (newsequentialid()) FOR [Match_id]
GO
ALTER TABLE [dbo].[players] ADD  DEFAULT ((0)) FOR [DotaPlus]
GO
ALTER TABLE [dbo].[MatchPlayers]  WITH CHECK ADD FOREIGN KEY([Hero_id])
REFERENCES [dbo].[Heroes] ([Hero_id])
GO
ALTER TABLE [dbo].[MatchPlayers]  WITH CHECK ADD FOREIGN KEY([Match_id])
REFERENCES [dbo].[Matches] ([Match_id])
GO
ALTER TABLE [dbo].[MatchPlayers]  WITH CHECK ADD FOREIGN KEY([player_id])
REFERENCES [dbo].[players] ([Player_id])
GO
ALTER TABLE [dbo].[players]  WITH CHECK ADD FOREIGN KEY([country_id])
REFERENCES [dbo].[Countries] ([Country_id])
GO
ALTER TABLE [dbo].[Heroes]  WITH CHECK ADD CHECK  (([Attack_type]='Melee' OR [Attack_type]='Ranged'))
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD CHECK  (([Winner]='Radiant' OR [Winner]='Dire'))
GO
ALTER TABLE [dbo].[players]  WITH CHECK ADD CHECK  (([MMR]>=(0)))
GO
USE [master]
GO
